<footer class="footer">
  <div class="footer__top">

    <!-- Column 1: Logo + About -->
    <div class="footer__col">
      <h2 class="footer__logo">
        Shop<span>Mate</span>
      </h2>
      <p>
        Your go-to destination for all things shopping. Explore electronics, fashion, beauty, and more.
      </p>
      <!-- <div class="footer__socials">
        <a href="#"><mat-icon>facebook</mat-icon></a>
        <a href="#"><mat-icon>instagram</mat-icon></a>
        <a href="#"><mat-icon>twitter</mat-icon></a>
        <a href="#"><mat-icon>youtube</mat-icon></a>
      </div> -->
    </div>

    <!-- Column 2: Quick Links -->
    <div class="footer__col">
      <h4>Quick Links</h4>
      <ul>
        <li><a [routerLink]="'/'">Home</a></li>
        <li><a routerLink="about-us">About Us</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a [routerLink]="'/faq'">FAQ</a></li>
      </ul>
    </div>

    <!-- Column 3: Categories -->
    <div class="footer__col">
      <h4 class="font-semibold mb-6 text-center">Categories</h4>
      <div class="flex flex-wrap -mx-4" style="justify-content: center;">
        <div *ngFor="let chunk of categoryChunks" class="w-1/3 px-4 flex flex-col">
          <ul>
            <li *ngFor="let category of chunk" class="mb-2">
              <a
                (click)="searchCategory(category._id)"
                class="hover:underline cursor-pointer"
                >{{ category.name }}</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Column 4: Newsletter -->
    <div class="footer__col">
      <h4>Newsletter</h4>
      <p>Subscribe to get the latest offers and updates.</p>
      <form class="footer__newsletter" (submit)="$event.preventDefault(); showMaintenanceToast()">
        <input
          type="email"
          placeholder="Your email"
          [(ngModel)]="mail"
          name="newsletterEmail"
          required
        />
        <button type="submit">
          <mat-icon style="margin-top: 12px;">send</mat-icon>
        </button>
      </form>
    </div>

  </div>

  <!-- Bottom -->
  <div class="footer__bottom">
    <p>&copy; 2025 ShopMate. All rights reserved.</p>
  </div>
</footer>

