<div class="flex px-10 py-2">
  <div class="w-3/12">
    <h6 style="font-weight: 400; font-size: 1.5rem">Filters</h6>
    <mat-form-field appearance="fill">
      <mat-label>Categories</mat-label>

      <mat-select [(ngModel)]="selectedCategoryIds" (selectionChange)="onCategoryChange()" multiple name="categories">
        <mat-select-trigger>
          {{ displayCategoryName }}
        </mat-select-trigger>

        <mat-option *ngFor="let category of categoryList; trackBy: trackByCategoryId" [value]="category._id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>BranchId</mat-label>
      <mat-select [(ngModel)]="branchIds" (selectionChange)="getProductList()" name="branchId">
        <mat-option *ngFor="let brand of brandsList" [value]="brand._id">
          {{ brand.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="flex-1">
    <div class="flex justify-between">
      <h6 style="margin-left: 15px; font-weight: 400; font-size: 1.5rem">
        Products
      </h6>
      <mat-form-field class="w-50">
        <mat-label>Sort By</mat-label>
        <mat-select (selectionChange)="orderChange($event)">
          <mat-option [value]="1"> Price Low to High </mat-option>
          <mat-option [value]="-1"> Price High to Low </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- Grid wrapper -->
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2">

  <!-- Loading Spinner -->
  <div *ngIf="isLoading" class="col-span-full flex justify-center items-center w-full my-4">
    <div class="animate-spin rounded-full h-12 w-12 border-t-4 border-b-4 border-blue-500"></div>
  </div>

  <!-- Product Cards -->
  <div
    *ngFor="let product of products; trackBy: trackByFn"
    class="w-full"
    [class.hidden]="isLoading"
  >
    <app-products-card
      [product]="product"
      [searchItem]="searchItem"
    ></app-products-card>
  </div>

  <!-- Empty State -->
  <ng-container *ngIf="!isLoading && products.length === 0">
    <div class="col-span-full text-center text-gray-500 py-12">
      <p class="text-xl font-semibold text-violet-600">
        Currently Stocks not Available...will be listed soon..!
      </p>
    </div>
  </ng-container>
</div>


    <div class="flex gap-2">
      <button mat-raised-button color="primary" [disabled]="page == 1" (click)="pageChange(page - 1)">
        Prev
      </button>
      <button mat-raised-button color="primary" [disabled]="!isNext" (click)="pageChange(page + 1)">
        Next
      </button>
    </div>
  </div>
</div>